<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application Confirmation</title>
</head>

<body style = "background-color: aquamarine">
	<h1 style="margin-left: 20px;">Team Roster</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Pokemon 1: </strong><%- pokemon1 %><br>
		<strong>Pokemon 2: </strong><%- pokemon2 %><br>
		<strong>Pokemon 3: </strong><%- pokemon3 %><br>
		<strong>Pokemon 4: </strong><%- pokemon4 %><br>
		<strong>Pokemon 5: </strong><%- pokemon5 %><br>
		<strong>Pokemon 6: </strong><%- pokemon6 %><br>
		<hr>
		<%- home %>
	</div>
</body>

</html>
