<!doctype html>
<html lang="en">
<link href= "/templates/assets/battleFinal.css" rel="stylesheet" type="text/css" />
<head>
	<meta charset="utf-8" />
	<title>Battle Simulator</title>
</head>

<body style = "background-color: aquamarine">
	<h1 style="margin-left: 20px; text-align: center;"><%- pokemon1 %> VS <%- pokemon2 %></h1>
    <%- image1 %>
    <%- image2 %><br><br>
    <h1 style="margin-left: 20px; text-align: center;">WINNER: <%- winner %></h1>
    <hr>
    <%- home %>
</body>

</html>