<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>


<body style = "background-color: aquamarine">
	<h1 style="margin-left: 20px;">Displaying Pokemon Team</h1>
	<table border = "1" style = "height: 100px; width: 200px">
		<tr><th>Team Name</th><th><%- name %></th><th>Type</th></tr>
		<tr><td>Pokemon 1</td><td><%- pokemon1 %></td><td><%- type1 %></td></tr>
		<tr><td>Pokemon 2</td><td><%- pokemon2 %></td><td><%- type2 %></td></tr>
		<tr><td>Pokemon 3</td><td><%- pokemon3 %></td><td><%- type3 %></td></tr>
		<tr><td>Pokemon 4</td><td><%- pokemon4 %></td><td><%- type4 %></td></tr>
		<tr><td>Pokemon 5</td><td><%- pokemon5 %></td><td><%- type5 %></td></tr>
		<tr><td>Pokemon 6</td><td><%- pokemon6 %></td><td><%- type6 %></td></tr>
	</table>
    <hr>
    <%- home %>
</body>

</html>